body {
  margin: 0;
  padding: 0;
}

#input-room-id {
  margin-right: 10px;
}

#video-grid {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

video {
  display: block;
  flex: 1;
  object-fit: cover;
  border: 5px solid #000;
  max-width: 600px;
}

.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 10px;
  min-width: 80px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.leave-meeting {
  color: #eb534b;
}

.main__right {
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__header {
  color: #f5f5f5;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.messages {
  color: white;
  list-style: none;
  display: block;
  padding: 0 21px;
  font-size: 15px;
}

::-webkit-scrollbar {
  display: none;
}

.unmute {
  color: #cc3b33;
}

li {
  border-bottom: 1px solid #3d3d42;
  margin: 5px 0px;
}

html,
body {
  height: 100vh;
}
